#al-body {
  & .el-input__wrapper {
    // --el-input-hover-border-color: #e0c3fc;
    // --el-input-focus-border-color: #c187f6e2;

    --el-input-border-color: rgba(82, 82, 111, 0.44);
  }

  --el-border-color-hover: #e0c3fc;
  --el-color-primary:#c187f6e2;

  --el-fill-color-light:rgb(87, 91, 199,0.3);
  --el-bg-color-overlay: rgba(29, 30, 43,1);
  --el-border-color-light:rgb(133, 134, 153);
  --el-fill-color-blank: transparent;
  --el-text-color-regular:white;
}
